<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Deviation value</title>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div id="app">

        <!-- input Score -->
        <div class="score">
            <p>点数</p>
            <p><input type="number" pattern="\d*"  min="0" max="100" v-model.number="testScore"></p>
        </div>

        <div class="score">
            <p>偏差値</p>
            <p><input type="number" pattern="\d*" min="0" max="100" v-model.number="deviationValue" step="0.1"></p>
        </div>

        <div class="score">
            <p>平均点</p>
            <p><input type="number" pattern="\d*" min="0" max="100" v-model.number="averageScore" step="0.1"></p>
        </div>

        <!-- For confirmation -->
        <!-- <p>${ testScore } ${ deviationValue } ${ averageScore }</p> -->

        <!-- select type -->
        <div class="select-type">
            <input type="radio" name="type" id="ts" v-on:change="onChange" checked>
            <label for="ts" id="ts-dv">
                点数から偏差値
            </label>
        </div>

        <div class="select-type">
            <input type="radio" name="type" id="dv" v-on:change="onChange">
            <label for="dv" id="dv-ts">
                偏差値から点数
            </label>
        </div>

        <!-- For confirmation -->
        <!-- <p>${ key }</p> -->

        <!-- result of selecet type
                Test Score to Deviation Value -->
        <div class="result" v-show="key">
            <p>点数が <input type="number" pattern="\d*" min="0" max="100" v-model.number="inputScore" v-on:change="onChangeScore"> 点になると</p>
            <p>偏差値は</p>
            <p>${ resultDeviValue } になる</p>
        </div>

        <!-- Deviation Value to Test Score -->
        <div class="result" v-show="!key">
            <p>偏差値が <input type="number" pattern="\d*" step="0.1" min="0" max="100" v-model.number="inputValue" v-on:change="onChangeValue"> になると</p>
            <p>点数は </p>
            <p>${ resultTestScore } 点になる</p>
        </div>
    </div>
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
